# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.info

# Directory for compiled output
dist/
build/
node_modules/
prisma/generated
# macOS specific files
.DS_Store

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
/generated/prisma
